*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 1000px;
    margin: auto;
    background-image: url("espacio.jpg");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
    /*color: black;*/
    margin-top: 250px;
    font-size: 92px;
    color: rgb(209, 218, 162);
}

h2{
    text-align: center;
    color: rgb(209, 218, 162);
    margin-top: 10px;
    margin-left: 0px;
    font-size: 40px;
}

/*.forma {
    color: #FFF;
    background: #0BF;
    padding: 20px;
    margin: 25px auto;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    cursor: pointer;
    width: 300px;
    box-shadow: inset 0 0 0 0 #0BF;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}

.forma:hover{
    box-shadow: inset 0 -70px 0 0 #08B;
}*/

                  
li{
    list-style-type:none;
    position:relative;
    width:120px;
    text-align: center;
    font-weight: bold;
}
     


li a{
    text-decoration:none;
    display: inline-block;
    padding:5px 10px;
    width:220px;
    height:40px;
    border:1px solid #000;
    color:#fff;
    background-color: teal;
    margin-left: 7px;
    
}
            
li a:hover{
    color:#000;
    box-shadow: inset 0 -70px 0 0 #08B;               
}
    
nav li ul{
    display:none;
    position:absolute;
    top:29px;
    right:120px;
}
            
nav li:hover ul{
    display: block;
}