body{
    width: 800px;
    margin: auto;
    background-color: gray;
}

main{
    background-color: white;
    padding: 30px;
}

table{
    border: solid 1px red;
    width: 100%;
}

th, td{
    border: solid 1px red;
}

a{
    text-align: right;
}

.etiquetas{
    text-transform: uppercase;
    color: black;
    width: 30%;
    display: inline-block;
    font-family: sans-serif;
    margin-top: 15px;
}

.controles{
    width: 60%;
}

button{
    text-align: right;
    display: inline-block;
    margin: 10px;
}

form{
    padding: 20px;
    background-color: cornflowerblue;
    border-radius: 20px;
}

.titulo{
    font-family: sans-serif;
    text-align: center;
    font-size: 46px;
}