.Formulacion-proyectos{
	background-color: #1FC2C2;
	text-align: center;
}

.Lenguajes{
	background-color: #9A3AB5;
	text-align: center;
}

.WEB{
	background-color: #32D964;
	text-align: center;
}

.Liderazgo{
	background-color: #92E61E;
	text-align: center;
}

.Ingles{
	background-color: #00AAFF;
	text-align: center;
}

.Interfaces{
	background-color: #CC00FF;
	text-align: center;
}

.Requisitos{
	background-color: #C716A1;
	text-align: center;
}

.Horadia{
	background-color: #C24E6B;
	text-align: center;
}

